<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Random code generator</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container-fluid">
        <h1 class="top">
            Random Quote Generator 
        </h1>
        </div>

        <div class="container-fluid">
         <form action="/" method="post">
          <p class="quote">
               <%=newquote%>
          </p>
          <p class="author">
               <%=authorname%>
          </p>
            <button class ="btn btn-lg">
                Get another Quote
           </button>
          </form>
          
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="app.js">
             
        </script>
    </body>
</html>